body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

.geo-navbar {
    background-color: #222;
    border-color: #080808;
    opacity: 0.75;
    color: white;
}

div#geo-navbar a:link,div#geo-navbar a:visited {
    color: white;
}


.admin {
    padding-top: 55px;
    height: 90%;
}

.admin-buttons {
    padding-bottom: 10px;
}

.admin-map {
    height: 500px;
}